.cart-img{
    width:100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart-detail{
        border:1px solid gray;
        margin: 20px;
        padding: 5px 5px 5px 5px;
        display: flex;
        box-sizing: border-box;
        width: 70%;
        border-radius: 20px;
        text-align: center;
        background-color: whitesmoke;

}
.name-detail{
   margin-top: 40px;
    
}
.counter-detail{
  margin-top: 40px;
}
.remove{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}