.login{
    text-align: center;
    background-image: url(../../Images/bannerbackground.png);
    background-position-y: 0px;
    background-position-x:-100px;
    background-size: 1500px;
    
}
.login img{
    width: 250px;
    margin-top: 100px;
}
.login-form{
   margin-top: 50px;
}
.input-field input{
  width: 300px;
   padding: 10px;
   background-color: whitesmoke;
   border-radius: 5px;
   border: none;
}
#input-submit{ 
  background-color: rgba(224, 18, 18, 0.767);
  color: white;
  font-weight: 600;
}
